  <table class="table table-striped">
    <colgroup>
      <col width="*" />
      <col width="15%" />
      <col width="15%" />
      <col width="20%" />
    </colgroup>
    <thead>
      <tr>
        <th> <%= t '.th.title' %> </th>
        <th> <%= t '.th.size' %> </th>
        <th> <%= t '.th.updated_at' %> </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for a in @assets %>
        <tr>
          <td><%= link_to a.title, a %></td>
          <td> <%= number_to_human_size a.file_size %> </td>
          <td> <%= l a.updated_at, :format => :long %> </td>
          <td class="buttons">
            <%= link_to t('.button.edit'), edit_asset_path(a), :class => 'btn btn-mini' %>
            <%= link_to t('.button.delete'), a, :method => :delete,
                                               :class => 'btn btn-mini btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
