<%= render 'subnav' %>

<div class="row">
  <div class="span8">
    <% if @assets.any? %>
      <%= render params[:view] == 'thumbnails' ? 'thumbs' : 'table' %>
    <% else %>
      <p class="well"> <%= t '.p.no_assets' %> </p>
    <% end %>
  </div>
  <div class="span4">
    <%= twitter_bootstrap_form_for (@asset||Espresso::Asset.new), :html => {:multipart => true} do |f| %>
      <%= hidden_field_tag :view, params[:view] %>
      <%= hidden_field_tag :page, params[:page] %>
      <%= f.fieldset t('.legend.new_asset') do %>
        <%= render 'form', :f => f %>
      <% end %>
      <div class="form-actions">
        <%= f.submit t('.button.create'), :class => 'btn btn-primary' %>
      </div>
    <% end %>

  </div>
</div>
