<div class="row">
  <div class="span8">
    <%= twitter_bootstrap_form_for(@article) do |f| %>
      <%= f.fieldset t('.legend.edit_article') do %>
        <%= render 'form', :f => f %>
      <% end %>

      <div class="form-actions">
        <%= f.submit t('.button.save'), :class => 'btn btn-primary' %>
        <%= link_to t('.button.cancel'), articles_url, :class => 'btn' %>
      </div>
    <% end %>
  </div>
</div>
