<div class="row">
  <div class="span4">
    <p><%= link_to t('.button.new'), new_article_path, :class => 'btn' %></p>
  </div>
</div>

<div class="row">
  <div class="span12">
    <% if @articles.any? %>
      <table class="table table-striped">
        <colgroup>
          <col width="*" />
          <col width="15%" />
          <col width="15%" />
          <col width="20%" />
        </colgroup>
        <thead>
          <tr>
            <th> <%= t '.th.title' %> </th>
            <th> <%= t '.th.section' %> </th>
            <th> <%= t '.th.updated_at' %> </th>
            <th> <%= t '.th.published_at' %> </th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% for a in @articles %>
            <tr>
              <td><%= link_to a.title, a %></td>
              <td> /<%= a.section.path if a.section %> </td>
              <td> <%= l a.updated_at, :format => :long %> </td>
              <td> <%= l a.published_at, :format => :long if a.published_at %> </td>
              <td class="buttons">
                <%= link_to t('.button.edit'), edit_article_path(a), :class => 'btn btn-mini' %>
                <%= link_to t('.button.delete'), a, :method => :delete,
                                                   :class => 'btn btn-mini btn-danger' %>
                <%= link_to t('.button.publish'), publish_article_path(a), :method => :put, :class => 'btn btn-mini' unless a.published? %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <p class="well"> <%= t '.p.no_articles' %> </p>
    <% end %>
  </div>
</div>
