<article>
  <time datetime="<%= @article.published_at %>" pubdate> <%= l @article.published_at, :format => :long %> </time>
  <h1> <%= @article.title %> </h1>

  <%= raw @article.body_html %>

  <section class="comments">
    <% for comment in @article.comments.approved %>
      <article>
        <time><%= l comment.created_at, :format => :long %></time>
        <h1><%= comment.author_name %></h1>
        <div> <%= sanitize comment.body_html %> </div>
      </article>
    <% end %>
  </section>
</article>


<%= form_for (@comment || Espresso::Comment.new), :as => :comment,
             :url => create_article_comment_path(:path => @article.path) do |f| %>
  <fieldset>
    <legend>Post a comment</legend>
    <p>
      <strong><%= f.label :author_name %></strong> <%= f.text_field :author_name %>
    </p>
    <p>
      <%= f.label :author_email %> <%= f.text_field :author_email %>
    </p>
    <p>
      <%= f.label :author_url %> <%= f.text_field :author_url %>
    </p>
    <p>
      <strong><%= f.label :body %></strong><br />
      <%= f.text_area :body, :cols => 50, :rows => 8 %>
     </p>
  </fieldset>
  <div>
    <%= f.submit %>
  </div>
<% end %>
